.header {
    height: rem(56px);
    position: absolute;
    z-index: 10;
    color: white;
    width: 100vw;
    /* margin-bottom: rem(120px); */
    /* background-color: var(--mantine-color-body); */
    /* border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); */
  }
  
  .inner {
    height: rem(56px);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .link {
    display: block;
    line-height: 1;
    padding: rem(8px) rem(12px);
    border-radius: var(--mantine-radius-sm);
    text-decoration: none;
    color: white;
    font-size: var(--mantine-font-size-sm);
    font-weight: 500;
  
    @mixin hover {
      color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    }
  }
  
  .linkLabel {
    margin-right: rem(5px);
  }
.dropdown{
    color: red !important;
    background-color:transparent !important;
    --popover-border-color:none;
    border: none;
  }
.dropdowni{
    color: rgb(255, 255, 255) !important;
    text-align: right;
  }
.dropdowni:hover{
    color: rgb(255, 0, 0) !important;
    text-align: right;
  }
  